@media screen and (max-width: 990px) {
    .logo-wrapper {
        margin: -60px 0 0 0;
        text-align: center;
    }
}

@media screen and (min-width: 990px) {
    .logo-wrapper {
        margin: 25px 0;
    }
}