@import "w3";
@import "breadcrumb";
@import "switch";
@import "utils";
@import "logo";
html {
    -webkit-appearance: none;
}

a[href^="tel"] {
    color: inherit;
    /* Inherit text color of parent element. */
    text-decoration: none;
    /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
}

.header-contact-wrapper {
    margin: 0;
    padding: 0;
    @media (max-width: 601px) {
        padding: 19px 10px 56px 10px;
    }
}

.header-contact {
    text-align: right;
    @media screen and (max-width: 990px) {
        text-align: right;
        margin: -62px 0 0 0;
    }
    @media screen and (max-width: 654px) {
        text-align: center;
        margin: 0;
        b {
            display: block;
            a {
                font-size: 80% !important;
            }
            .w3-xlarge {
                font-size: 110% !important;
            }
        }
    }
    
}

.navigation {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1325px) {
    .navigation a {
        font-size: 14px;
        padding: 8px 0;
    }
}

@media screen and (min-width: 995px) {
    .content-wrapper {
        max-width: 1100px;
        margin-top: 50px;
        margin-bottom: 80px
    }
}

@media screen and (max-width: 1170px) {
    .content-wrapper {
        max-width: 1100px;
        margin: 50px 30px 80px
    }
}

@media screen and (max-width: 992px) {
    .content-wrapper {
        max-width: 1100px;
        margin: 30px 30px 80px
    }
}

@media screen and (max-width: 320px) {
    .content-wrapper {
        max-width: 1100px;
        margin: 30px 10px
    }
}

@media screen and (max-width: 654px) {
    .header-contact-wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 459px) {
    .header-contact-wrapper {
        height: auto;
    }
}

@media screen and (max-width: 1198px) {
    html,
    body,
    h1 {
        font-size: 26px;
        line-height: 1.8rem;
    }
    html,
    body,
    h2 {
        font-size: 18px;
        line-height: 1.5rem;
    }
    html,
    body,
    p,
    p.w3-xlarge {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 375px) {
    .w3-container {
        padding: 0;
    }
}

.w3-tag,
.fa {
    cursor: pointer
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px
}

.order {
    .w3-btn {
        white-space: normal;
    }
    a {
        background-color: #4CAF50 !important;
    }
    p {
        margin-bottom: 7px;
    }
}

#order-root {
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        background-color: #4CAF50 !important;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        color: #fff;
    }
}

.btn-green {
    background-color: #4CAF50 !important;
}

#bottom-alert-message {
    position: fixed;
    bottom: 12px;
    left: 60px;
    display: none;
    z-index: 1000;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    letter-spacing: .2px;
    align-items: center;
    background-color: #202124;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    margin: 11px;
    max-width: 640px;
    min-height: 52px;
    padding: 8px 24px;
}