{% extends './layout.html' %}
{% load static %}

{% block order-block %}
    {% include './order-block.html' %}
{% endblock %}

{% block content %}
    <!-- Slideshow -->
    <div class="w3-container">
        <div class="w3-display-container mySlides">
            <img src="{% static 'img/mortgage.jpg' %}" style="width:100%" alt="Оценка для ипотеки"
                 title="Заказать оценку для ипотеки">
            <div class="w3-display-topleft w3-container w3-padding-32">
            </div>
        </div>
        <div class="w3-display-container mySlides">
            <img src="{% static 'img/dtp.jpg' %}" style="width:100%" alt="Оценка для ипотеки"
                 title="Заказать оценку для ипотеки">
            <div class="w3-display-middle w3-container w3-padding-32">
            </div>
        </div>
        <div class="w3-display-container mySlides">
            <img src="{% static 'img/flood.jpg' %}" style="width:100%" alt="Оценка ущерба"
                 title="Заказать оценку ущерба">
            <div class="w3-display-topright w3-container w3-padding-32">
            </div>
        </div>

        <!-- Slideshow next/previous buttons -->
        <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
            <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i>
            </div>
            <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i>
            </div>

            <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                          onclick="currentDiv(1)"></span>
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                      onclick="currentDiv(2)"></span>
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                      onclick="currentDiv(3)"></span>
            </div>
        </div>
    </div>

    <div class="w3-row w3-container" style="margin: 30px 0 0 0;">
        <div class="w3-center">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey">Наша деятельность</span>
        </div>
        <div>
            <p>
            <ul>
                <li>
                    Оценка при ДТП для ОСАГО и других целей
                </li>
                <li>
                    Оценка недвижимости для целей ипотеки (залога) квартиры, земельных участков, другой недвижимости

                </li>
                <li>
                    Оценка стоимости причинённых убытков (ущерба)
                    (При заливах, пожарах и т.д. )


                </li>
                <li>
                    Оценка имущества для нотариальных, налоговых и других целей
                    (наследство, исчисления различных платежей)


                </li>
                <li>
                    Оценка имущественных комплексов


                </li>
                <li>
                    Оценка бизнеса


                </li>
                <li>
                    Другие виды расчетов для определения стоимости


                </li>
                <li>
                    Отчет об оценке, составленный нами, имеет силу официального документа доказательного значения и
                    может быть предоставлен в различные государственные и коммерческие учреждения.

                </li>

            </ul>
            </p>
        </div>
    </div>

    <div class="w3-row w3-container">
        <div class="w3-center">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey">Наша задача</span>
        </div>
        <div>
            <p>
            <ul>
                <li>
                    Быть долгосрочными партнерами для наших клиентов;
                </li>
                <li>
                    Обеспечить их достоверной объективной информацией;
                </li>
                <li>
                    Актуальными аналитическими материалами;

                </li>
                <li>
                    Точными расчетами для принятия решений.
                </li>
            </ul>
            </p>
        </div>
    </div>
{% endblock %}