{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="nav-no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="acf7e20d88a93a50"/>

    <title>{{ page.title_tag }}</title>
    <meta name="description" content="{{ page.meta_tag_description }}">
    <meta name="keywords" content="{{ page.meta_tag_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico"
          type="image/gif" sizes="16x16">

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4 {
            font-family: "Lato", sans-serif
        }

        .mySlides {
            display: none
        }
    </style>
    {% endblock stylesheets %}


    {% block javascript %}
    {% endblock javascript %}

    {% include "./google-analytics.html" %}
    {% include "./ya-counter.html" %}

    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
</head>
<body>
{% include './navigation.html' %}
{% include './sidebar.html' %}
<div class="w3-content content-wrapper">
    <div class="w3-row header-contact-wrapper">
        <div class="w3-col l3 m4 s12 logo-wrapper">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}"/>
            </a>
        </div>
        <div class="w3-col l9 m12 s12">
            <p class="w3-wide w3-large header-contact">
                <b><a class="w3-xlarge" href="tel:+79034000365">+7 (903) 400-03-65 </a> </b><br/>
                <b><a href="tel:+79287505090">+7 (928) 750-50-90 </a> </b> 
                <span style="color: #4CAF50 !important" class="w3-hide-small"> |</span>
                <b><a href="tel:+79188505090">+7 (918) 850-50-90 </a> </b>
                <br/>
                <a style="text-decoration: none" href="mailto:vvv@valuer.su">vvv@valuer.su</a>
            </p>
        </div>
    </div>

    {% block order-block %}

    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

<footer class="w3-container w3-padding-32 w3-light-grey w3-center" style="padding: 30px;">
    <div class="w3-content">
        <div class="w3-row">
            <div class="w3-third w3-left-align">
                <h5>Мы в социальных сетях</h5>
                <script type="text/javascript"><!--
                document.write(VK.Share.button({url: "https://vk.com/ocenkaexpertiza"}, {
                    type: "round_nocount",
                    text: "Оценка, экспертизы"
                }));
                --></script>

            </div>
            <div class="w3-third w3-left-align">
                <h5>Актуально</h5>
                <ul class="w3-ul">
                    <li style="padding: 0;">
                        <a href="{% url 'home' %}nezavisimaia-otsenka-i-ekspertiza-v-gorode-rostov-na-donu/">
                            Независимая оценка и экспертиза в городе Ростов-на-Дону
                        </a>
                    </li>
                    <li style="padding: 0;">
                        <a href="{% url 'home' %}nezavisimaia-otsenka-i-ekspertiza-v-gorode-volgodonske/">
                            Независимая оценка и экспертиза в городе Волгодонске
                        </a>
                    </li>
                    <li style="padding: 0;">
                        <a href="{% url 'home' %}otsenka-ushcherba-pri-dtp-osago/">
                            Оценка ущерба при ДТП (ОСАГО)
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>

{% block javascript-after %}
<script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demodots");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }


    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

</script>
{% endblock javascript-after %}

{% block react %}
{% endblock react %}

</body>

</html>
{% endspaceless %}
