<div class="w3-top w3-hide-medium w3-hide-small navigation">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s2">
                <a href="{% url 'home' %}" class="w3-button w3-block">
                    <i class="fa fa-home" aria-hidden="true" style="color: #4CAF50"></i>
                    Главная
                </a>
            </div>
            <div class="w3-col s2">
                <a href="{% url 'home' %}kontakty/" class="w3-button w3-block">
                    <i class="fa fa-mobile" aria-hidden="true" style="color: #c2624a"></i>
                    &nbsp;Контакты
                </a>
            </div>
            <div class="w3-col s2">
                <a href="{% url 'home' %}dokumenty/" class="w3-button w3-block">
                <i class="fa fa-book" aria-hidden="true" style="color: #61616"></i>
                    Документы
                </a>
            </div>
            <div class="w3-col s3">
                <a href="#plans" class="w3-button w3-block">Оценка стоимости недвижимости</a>
            </div>
            <div class="w3-col s3">
                <a href="{% url 'home' %}stroitelno-tekhnicheskaia-ekspertiza/" class="w3-button w3-block">Оценка ущерба</a>
            </div>
        </div>
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s4">
                <a href="{% url 'home' %}otsenka-i-ekspertiza-avtotransportnykh-sredstv/#opredeleniya-stoimosti" class="w3-button w3-block">
                    Оценка и экспертиза автотранспортных средств
                </a>
            </div>
            <div class="w3-col s3">
                <a href="{% url 'home' %}stroitelno-tekhnicheskaia-ekspertiza/" class="w3-button w3-block">
                    Строительно-техническая экспертиза
                </a>
            </div>
            <div class="w3-col s4">
                <a href="{% url 'home' %}tovarovedcheskaia-i-stoimostnaia-ekspertiza/"
                 class="w3-button w3-block">
                    Товароведческая и стоимостная экспертиза
                </a>
            </div>
            {% comment %}<div class="w3-col s3">
                <a href="#plans" class="w3-button w3-block">Правовая информация</a>
            </div>{% endcomment %}
            <div class="w3-col s1">
                <a href="#about" class="w3-button w3-block">Страхование</a>
            </div>
            
        </div>
    </div>
