<div class="w3-panel w3-card-4">
    <h1 style="color: #c2624a; margin-bottom: 0;"><b>Независимая оценка и экспертиза онлайн</b></h1>
    <p class="w3-large" style="margin-bottom: 0;"><i>Выберите интересующую вас ситуацию:</i></p>

    <div class="w3-row">
        <div class="w3-half w3-container">
            <div class="w3-section order">
                <p>Максимально быстрое получение информации о стоимости объекта</p>
                <a class="w3-btn w3-ripple w3-red w3-large" href="{% url 'zakazat-spravku-o-stoimosti' %}">
                    Заказать справку о стоимости
                </a>
            </div>
            <div class="w3-section order">
                <p>Заключение эксперта</p>
                <a class="w3-btn w3-ripple w3-red w3-large" href="{% url 'zakazat-ekspertnoe-issledovanie' %}">
                    Заказать экспертное исследование
                </a>
            </div>
            <div class="w3-section order">
                <p>Отчет об оценке для оформления ипотеки в Сбербанке</p>
                <a class="w3-btn w3-ripple w3-red w3-large" href="{% url 'zakazat-otchet-ob-otsenke' %}">
                    Заказать отчет об оценке
                </a>
            </div>
        </div>

        <div class="w3-half w3-container">
            <div class="w3-section order">
                <p>Заключение о стоимости</p>
                <a class="w3-btn w3-ripple w3-red w3-large" href="{% url 'zakazat-stoimostnoe-zakliuchenie' %}">
                    Заказать стоимостное заключение
                </a>
            </div>
            <div class="w3-section order">
                <p>Исследование, не связанное со стоимостью</p>
                <a class="w3-btn w3-ripple w3-red w3-large" href="{% url 'zakazat-ne-stoimostnoe-issledovanie' %}">
                    Заказать не стоимостное исследование
                </a>
            </div>
        </div>
    </div>
    <br/>
</div>