{% extends './layout.html' %} {% load static %} {% block content %}
<div class="w3-panel w3-card-4">
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Главная</a>
        </li>
        <li>{{ page.name }}</li>
    </ul>
    <div class="w3-panel">
        <h1>Форма заказа справки о стоимости</h1>

        <form class="w3-container">

            <div class="w3-section">
                {% autoescape off %}{{ content.0.content}}{% endautoescape %}
            </div>

            <div id="order-root">
            </div>
        </form>


    </div>
</div>
<div id="bottom-alert-message" onclick="closeAlert(this)" class="w3-animate-opacity"></div>


<script>
    var payLogo_megafon = "{% static 'img/pay-logo-megafon.png' %}";
    var payLogo_yamoney = "{% static 'img/pay-logo-yamoney.png' %}";

    var firstName = '';
    var phoneNumber = '';
    var email = '';
    var description = '';
    var props = ['email', 'crypt', 'print'];
    var pays = ['yandex-money', 'megafon'];
    var price = {'yandex-money': 1000, 'megafon': 1250};
    var priceAdd = {'email': 0, 'crypt': 1.2, 'print': 1.5};
    var pricePolicy = {{ price_policy | safe }}
    var nomenclatureOptions = {{ options | safe }}
    var files = {{ files | safe }}
    var nomenclature = {{ nomenclature | safe }}

    window.onload = function () {
        function myFunction() {
            var g = document.getElementById("glossary");

            var x = document.getElementById('Demo1');
            g.onclick = function () {
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        }

        myFunction()
    };

    function closeAlert(e) {
        return e.style.display = 'none';
    }
</script> {% endblock %}
{% block react %}
    {% if debug %}
        <script type="text/javascript" src="{% static 'js/vendors~main.order.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/order.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/order.js' %}"></script>
    {% endif %}
{% endblock react %}