{% extends './layout.html' %}
{% load static %}

{% block order-block %}
    {% include './order-block.html' %}
{% endblock %}

{% block content %}

    <div class="w3-row w3-container" style="margin: 30px 0 0 0;">
        <div class="w3-center">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey">
                {% autoescape off %}
                    {{ content.name }}
                {% endautoescape %}
            </span>
        </div>
        <div>
            <p>
                {% autoescape off %}
                    {{ content.content }}
                {% endautoescape %}
            </p>
        </div>
    </div>
{% endblock %}