<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Закрыть &times;</button>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button">
        <i class="fa fa-home" aria-hidden="true" style="color: #4CAF50"></i>
        Главная
    </a>
    <a href="{% url 'home' %}kontakty/" class="w3-bar-item w3-button">
        <i class="fa fa-mobile" aria-hidden="true" style="color: #c2624a"></i>
        &nbsp;&nbsp;Контакты
    </a>
    <a href="{% url 'home' %}dokumenty/" class="w3-bar-item w3-button">
        <i class="fa fa-book" aria-hidden="true" style="color: #61616"></i>
        Документы
    </a>
    <a href="#plans" class="w3-bar-item w3-button">Оценка стоимости недвижимости</a>
    <a href="{% url 'home' %}stroitelno-tekhnicheskaia-ekspertiza/" class="w3-bar-item w3-button">Оценка ущерба</a>
    <a href="{% url 'home' %}otsenka-i-ekspertiza-avtotransportnykh-sredstv/#opredeleniya-stoimosti" class="w3-bar-item w3-button">
       Оценка и экспертиза автотранспортных средств 
    </a>
    <a href="{% url 'home' %}stroitelno-tekhnicheskaia-ekspertiza/" class="w3-bar-item w3-button">
        Строительно-техническая экспертиза
    </a>
    <a href="{% url 'home' %}tovarovedcheskaia-i-stoimostnaia-ekspertiza/" class="w3-bar-item w3-button">
        Товароведческая и стоимостная экспертиза
    </a>
    

    <a href="#about" class="w3-bar-item w3-button">Страхование</a>

    
</div>
<div>
    <button class="w3-button w3-xlarge" onclick="w3_open()">☰</button>
</div>
